# Homework 3

## FINM 37500: Fixed Income Derivatives

### Mark Hendricks

#### Winter 2024

In [81]:
import numpy as np
import pandas as pd

import platform
if platform.system() == "Windows":
    BASE_DIR = r'C:\Users\Alex\Desktop\Academic\UChicago\FINM 37500\finm-fiderivs-2024'
else:
    BASE_DIR = r'/Users/alexhuang/Documents/Academic/FINM 37500/finm-fiderivs-2024'


import sys, os
sys.path.append(BASE_DIR)

from cmds.binomial import *
from cmds.ratecurves import *
from cmds.volskew import *
from cmds.ficcvol import *
from cmds.fi_binomial_model import FIBinomialModel

# 1. Modeling the Volatility Smile

## Swaption Vol Data

The file `data/swaption_vol_data_2024-02-20.xlsx` has market data on the implied volatility skews for swaptions. Note that it has several columns:
* `expry`: expiration of the swaption
* `tenor`: tenor of the underlying swap
* `model`: the model by which the volatility is quoted. (All are Black.)
* `-200`, `-100`, etc.: The strike listed as difference from ATM strike (bps). Note that ATM is considered to be the **forward swapa rate** which you can calculate.

Your data: ywill use a single row of this data for the `1x4` swaption.
* date: `2024-02-20`
* expiration: 1yr
* tenor: 4yrs

## Rate Data

The file `data/cap_quotes_2024-02-20.xlsx` gives 
* SOFR swap rates, 
* their associated discount factors
* their associated forward interest rates.

You will not need the cap data (flat or forward vols) for this problem.
* This cap data would be helpful in calibrating a binomial tree, but this problem focuses on Black's formula and SABR.

## The Swaption

Consider the following swaption with the following features:
* underlying is a fixed-for-floating (SOFR) swap
* the underlying swap has **quarterly** payment frequency
* this is a **payer** swaption, which gives the holder the option to **pay** the fixed swap rate and receive SOFR.

In [113]:

class FIBinomialModel():
    def __init__(self, face_value: float=100) -> None:
        self.__face_value: float = face_value
        self.__rate_tree: pd.DataFrame = None
        self.__bond_tree: pd.DataFrame = None
        self.__swap_tree: pd.DataFrame = None
        self.__cashflow_tree: pd.DataFrame = None
        self.__valuation_tree: pd.DataFrame = None

        self.__dt: float = None
        self.__T: float = None
    
    @property
    def rate_tree(self) -> pd.DataFrame:
        return self.__rate_tree

    @rate_tree.setter
    def rate_tree(self, new_rate_tree: pd.DataFrame) -> None:
        if isinstance(new_rate_tree, pd.DataFrame):
            self.__rate_tree = new_rate_tree
        else:
            raise TypeError("Can only set rate_tree attribute to pd.DataFrame type only.")
        
    @property
    def bond_tree(self) -> pd.DataFrame:
        return self.__bond_tree
    
    @bond_tree.setter
    def bond_tree(self, new_bond_tree: pd.DataFrame) -> None:
        if isinstance(new_bond_tree, pd.DataFrame):
            self.__bond_tree = new_bond_tree
        else:
            raise TypeError("Can only set bond_tree attribute to pd.DataFrame type only.")
    
    @property
    def cashflow_tree(self) -> pd.DataFrame:
        return self.__cashflow_tree

    @property
    def p_star(self):
        if (self.__rate_tree is None or self.__bond_tree is None or self.__dt is None or self.__T is None):
            raise Exception("Compute rate tree and bond tree first.")
        
        A = np.exp(self.__rate_tree.iloc[0,0] * self.__dt)

        pstar = (A * self.__bond_tree.loc[0,0] - self.__bond_tree.loc[1,self.__dt])/(self.__bond_tree.loc[0,self.__dt] - self.__bond_tree.loc[1,self.__dt])
        return pstar

    def initialize_empty_rate_tree(self, dt, T) -> None:
        self.__dt = dt
        self.__T = T
        timegrid = pd.Series((np.arange(0,round(T/dt)+1)*dt).round(6),name='time',index=pd.Index(range(round(T/dt)+1),name='state'))
        tree = pd.DataFrame(dtype=float,columns=timegrid,index=timegrid.index)
        self.__rate_tree = tree

    def compute_bond_tree(self, t0_price: float=None) -> None:
        maturity = (self.__rate_tree.columns[-1] - self.__rate_tree.columns[-2]) + self.__rate_tree.columns[-1]
        bond_tree_cols = list(self.__rate_tree.columns.copy().values)
        bond_tree_cols.append(maturity)
        print(bond_tree_cols)
        bond_tree = pd.DataFrame(dtype=float, index=pd.RangeIndex(0, len(bond_tree_cols)), columns=bond_tree_cols)
        bond_tree.index.name = self.__rate_tree.index.name
        bond_tree.columns.name = self.__rate_tree.columns.name
        
        forward_time: float = bond_tree.columns[-1]
        for time in reversed(bond_tree.columns):
            if time == maturity:
                bond_tree[time] = float(self.__face_value)
                forward_time = time
                continue
            bond_tree[time] = np.exp(-self.__rate_tree[time]*(forward_time-time)) * ((bond_tree[forward_time] + bond_tree[forward_time].shift(-1)) / 2)
            forward_time = time
        if t0_price:
            bond_tree.iloc[0,0] = t0_price
        self.__bond_tree = bond_tree

    def compute_swap_tree(self, payoff_func) -> pd.DataFrame:
        Z = np.exp(-self.__rate_tree.iloc[0,0] * self.__dt)
        swap_tree = pd.DataFrame(index=self.__rate_tree.index, columns=self.__rate_tree.columns, dtype=float)
        swap_tree[self.__dt] = payoff_func(self.__rate_tree[self.__dt])
        swap_tree.loc[0,0] = Z * np.array([self.p_star,1-self.p_star])@ swap_tree[self.__dt].values
        self.__swap_tree = swap_tree
        return swap_tree

    def construct_bond_cftree(self, T, compound, cpn, cpn_freq=2, face=100) -> pd.DataFrame:
        step = int(compound/cpn_freq)

        self.initialize_empty_rate_tree(1/compound, T)
        cftree = self.__rate_tree.copy()
        cftree.iloc[:,:] = 0
        cftree.iloc[:, -1:0:-step] = (cpn/cpn_freq) * face
        
        # final cashflow is accounted for in payoff function
        # drop final period cashflow from cashflow tree
        cftree = cftree.iloc[:-1,:-1]
        
        self.__cashflow_tree = cftree
        return cftree

    def bintree_pricing(self, payoff=None, ratetree=None, undertree=None,cftree=None, dt=None, pstars=None, timing=None, cfdelay=False,style='european',Tamerican=0):
    
        if payoff is None:
            payoff = lambda r: 0
        
        if undertree is None:
            undertree = ratetree
            
        if cftree is None:
            cftree = pd.DataFrame(0, index=undertree.index, columns=undertree.columns)
            
        if pstars is None:
            pstars = pd.Series(.5, index=undertree.columns)

        if dt is None:
            dt = undertree.columns.to_series().diff().mean()
            dt = undertree.columns[1]-undertree.columns[0]
        
        if timing == 'deferred':
            cfdelay = True
        
        if dt<.25 and cfdelay:
            display('Warning: cfdelay setting only delays by dt.')
            
        valuetree = pd.DataFrame(dtype=float, index=undertree.index, columns=undertree.columns)

        for steps_back, t in enumerate(valuetree.columns[-1::-1]):
            if steps_back==0:                           
                valuetree[t] = payoff(undertree[t])
                if cfdelay:
                    valuetree[t] *= np.exp(-ratetree[t]*dt)
            else:
                for state in valuetree[t].index[:-1]:
                    val_avg = pstars[t] * valuetree.iloc[state,-steps_back] + (1-pstars[t]) * valuetree.iloc[state+1,-steps_back]
                    
                    if cfdelay:
                        cf = cftree.loc[state,t]
                    else:                    
                        cf = cftree.iloc[state,-steps_back]
                    
                    valuetree.loc[state,t] = np.exp(-ratetree.loc[state,t]*dt) * (val_avg + cf)

                if style=='american':
                    if t>= Tamerican:
                        valuetree.loc[:,t] = np.maximum(valuetree.loc[:,t],payoff(undertree.loc[:,t]))
            
        return valuetree


    def display_rate_tree(self) -> pd.DataFrame:
        return self.__rate_tree.style.format('{:.4%}',na_rep='').format_index('{:.2f}',axis=1)
    
    def display_bond_tree(self) -> pd.DataFrame:
        return self.__bond_tree.style.format('$ {:.4}',na_rep='').format_index('{:.2f}',axis=1)

In [82]:
cap_curves_df = pd.read_excel(r'../data/cap_curves_2024-02-20.xlsx', index_col=0)
cap_curves_df.head(5)

       swap rates  spot rates  discounts  forwards  flat vols  fwd vols
tenor
0.25     0.052211    0.052211   0.987115       NaN        NaN       NaN
0.50     0.051540    0.051535   0.974722  0.050860   0.166025  0.166025
0.75     0.050506    0.050490   0.963069  0.048400   0.191290  0.210648
1.00     0.049284    0.049250   0.952230  0.045531   0.216554  0.254312
1.25     0.047631    0.047565   0.942608  0.040831   0.260043  0.361247

In [83]:
cap_df = pd.read_excel(r'../data/cap_quotes_2024-02-20.xlsx')
cap_df.head(5)

,date,USCNSQ1 SMKO Curncy,USCNSQ2 SMKO Curncy,USCNSQ3 SMKO Curncy,USCNSQ4 SMKO Curncy,USCNSQ5 SMKO Curncy,USCNSQ6 SMKO Curncy,USCNSQ7 SMKO Curncy,USCNSQ8 SMKO Curncy,USCNSQ9 SMKO Curncy,USCNSQ10 SMKO Curncy
0,maturity,1.002053,2.001369,3.000684,4.0,5.002053,6.001369,7.000684,8.0,9.002053,10.001369
1,2022-03-17 00:00:00,127.300000,108.500000,109.900000,108.5,107.300000,104.300000,101.000000,97.7,95.200000,93.200000
2,2022-03-18 00:00:00,96.200000,104.900000,108.000000,108.5,108.000000,105.000000,101.800000,98.3,95.400000,93.400000
3,2022-03-21 00:00:00,96.200000,105.000000,108.100000,108.5,107.900000,105.000000,101.700000,98.2,95.400000,93.400000
4,2022-03-22 00:00:00,75.100000,108.300000,115.200000,115.3,113.600000,109.900000,106.300000,102.8,99.900000,97.500000

In [84]:
swap_vol_df = pd.read_excel(r'../data/swaption_vol_data.xlsx')
swap_vol_df

,reference,instrument,model,date,expiration,tenor,-200,-100,-50,-25,0,25,50,100,200
0,SOFR,swaption,black,2024-02-20,1,4,54.54,40.37,35.94,34.23,32.83,31.71,30.86,29.83,29.54

## 1.1
Calculate the (relevant) forward swap rate. That is, the one-year forward 4-year swap rate.

In [85]:
swaption_exp = swap_vol_df.loc[0, 'expiration']
swaption_end = swaption_exp + swap_vol_df.loc[0, 'tenor'] 
fwd_swap_rate = calc_fwdswaprate(cap_curves_df['discounts'], swaption_exp, swaption_end, freqswap=4)
fwd_swap_rate

0.03672212061985555


## 1.2
Price the swaptions at the quoted implied volatilites and corresponding strikes, all using the just-calculated forward swap rate as the underlying.

In [86]:
swaption_implied_df = pd.DataFrame(index=swap_vol_df.columns[-9:], columns=['IV', 'strikes', 'prices'])
swaption_implied_df['IV'] = swap_vol_df[swap_vol_df.columns[-9:]].transpose() / 100
swaption_implied_df['strikes'] = (fwd_swap_rate + swap_vol_df.columns[-9:].astype(int)/10000)
discount = cap_curves_df['discounts'].loc[1.25:5].sum()/4
# print(swaption_exp, swaption_implied_df['IV'].values, swaption_implied_df['strikes'].values, fwd_swap_rate, discount, sep='\n')
swaption_implied_df['prices'] = blacks_formula(swaption_exp, swaption_implied_df['IV'].values, swaption_implied_df['strikes'].values, fwd_swap_rate, discount)

display(swaption_implied_df)

          IV   strikes    prices
-200  0.5454  0.016722  0.072031
-100  0.4037  0.026722  0.040653
-50   0.3594  0.031722  0.027398
-25   0.3423  0.034222  0.021749
0     0.3283  0.036722  0.016874
25    0.3171  0.039222  0.012812
50    0.3086  0.041722  0.009556
100   0.2983  0.046722  0.005133
200   0.2954  0.056722  0.001473

## 1.3
To consider how the expiration and tenor matter, calculate the prices of a few other swaptions for comparison. 
* No need to get other implied vol quotes--just use the ATM implied vol you have for the 1x2 above. (Here we are just interested in how Black's formula changes with changes in tenor and expiration.
* No need to calculate for all the strikes--just do the ATM strike.

Alternate swaptions
* The 3mo x 4yr swaption
* The 2yr x 4yr swaption
* the 1yr x 2yr swaption

Report these values and compare them to the price of the `1y x 4y` swaption.

In [87]:
alt_swaps_df = pd.DataFrame(columns=['exp', 'tenor', 'strike', 'prices'], index=pd.RangeIndex(0,3))
alt_swaps_df['exp'] = [0.25, 2, 1]
alt_swaps_df['tenor'] = [4, 4, 2]
alt_swaps_df['strike'] = 'ATM'

def price_swaps(exp, tenor, atm_iv, atm_strike, freq=4):
    print( exp, exp + tenor, sep='\n')
    print()
    fwd_swap_rate = calc_fwdswaprate(cap_curves_df['discounts'], exp, exp + tenor, freqswap=freq)
    discount = cap_curves_df['discounts'].loc[exp+(1/freq):exp+tenor].sum() / freq
    # print(cap_curves_df['discounts'].loc[exp+(1/freq):exp+tenor])
    # print(discount)
    print(exp, atm_iv, atm_strike, fwd_swap_rate, discount, sep='\n')
    price = blacks_formula(exp, atm_iv, atm_strike, fwd_swap_rate, discount) * 100
    return price

# alt_swaps_df['prices'] = 
price_swaps(alt_swaps_df['exp'][0], alt_swaps_df['tenor'][0], swaption_implied_df.loc[0,'IV'], swaption_implied_df.loc[0, 'strikes'])

0.25
4.25

0.25
0.3283
0.03672212061985555
0.03910405311265784
3.623807757672832

1.3951918634840146

***

# 2. Pricing w/ BDT

Use the data in `cap_curves_2024-02-20.xlsx`.

## 2.1

Calibrate the BDT Tree
* theta to fit the term structure discounts.
* sigma to fit the fwd vols from the cap data.

Report the rate tree through $T=5$. Report trees for rates compounded
* continuously
* annually

In [88]:
theta, rate_tree = estimate_theta(cap_curves_df['fwd vols'].bfill(), cap_curves_df['discounts']) 
simga = cap_curves_df['fwd vols']

In [89]:
theta.to_frame().transpose()

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,7.50,7.75,8.00,8.25,8.50,8.75,9.00,9.25,9.50,9.75
theta,NaN,-0.117846,-0.262526,-0.359865,-0.720504,-0.459257,-0.384915,-0.244081,-0.396789,-0.033089,...,0.125541,0.134603,0.153908,0.169295,0.178789,0.182346,0.179249,0.168698,0.149782,0.121431

In [90]:
# Exp
rate_tree

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,7.50,7.75,8.00,8.25,8.50,8.75,9.00,9.25,9.50,9.75
state,,,,,,,,,,,,,,,,,,,,,
0,0.051874,0.054727,0.056943,0.059101,0.059130,0.063777,0.070361,0.080314,0.087783,0.104426,...,4.027980,4.771745,5.651177,6.686142,7.901102,9.325144,10.991845,12.939920,15.213894,17.864737
1,NaN,0.046355,0.048232,0.050060,0.050085,0.054021,0.059598,0.068028,0.074354,0.088451,...,3.411800,4.041788,4.786689,5.663330,6.692432,7.898632,9.310369,10.960437,12.886551,15.131881
2,NaN,NaN,0.039071,0.040551,0.040572,0.043760,0.048278,0.055107,0.060231,0.071651,...,2.763761,3.274089,3.877503,4.587634,5.421267,6.398361,7.541952,8.878606,10.438872,12.257723
3,NaN,NaN,NaN,0.031446,0.031461,0.033934,0.037437,0.042732,0.046706,0.055562,...,2.143158,2.538891,3.006809,3.557480,4.203921,4.961608,5.848405,6.884913,8.094821,9.505248
4,NaN,NaN,NaN,NaN,0.021922,0.023645,0.026086,0.029776,0.032545,0.038716,...,1.493367,1.769117,2.095165,2.478876,2.929321,3.457282,4.075209,4.797454,5.640527,6.623322
5,NaN,NaN,NaN,NaN,NaN,0.016155,0.017823,0.020344,0.022236,0.026452,...,1.020306,1.208706,1.431470,1.693631,2.001386,2.362103,2.784286,3.277743,3.853751,4.525222
6,NaN,NaN,NaN,NaN,NaN,NaN,0.012080,0.013788,0.015071,0.017928,...,0.691529,0.819219,0.970201,1.147885,1.356471,1.600953,1.887094,2.221542,2.611941,3.067041
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009367,0.010238,0.012179,...,0.469779,0.556523,0.659090,0.779797,0.921496,1.087580,1.281966,1.509167,1.774378,2.083543
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007028,0.008360,...,0.322471,0.382015,0.452421,0.535278,0.632545,0.746551,0.879983,1.035942,1.217991,1.430212
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.005811,...,0.224135,0.265522,0.314457,0.372048,0.439654,0.518894,0.611637,0.720036,0.846571,0.994076
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.157392,0.186454,0.220817,0.261258,0.308732,0.364376,0.429502,0.505622,0.594476,0.698057
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.111000,0.131496,0.155731,0.184251,0.217732,0.256975,0.302905,0.356588,0.419253,0.492302
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.078194,0.092632,0.109704,0.129796,0.153381,0.181026,0.213381,0.251198,0.295342,0.346802
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055017,0.065175,0.077187,0.091323,0.107918,0.127368,0.150133,0.176741,0.207800,0.244007
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038799,0.045964,0.054435,0.064404,0.076107,0.089824,0.105878,0.124643,0.146547,0.172081
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027630,0.032732,0.038764,0.045864,0.054198,0.063966,0.075399,0.088761,0.104360,0.122543
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020013,0.023708,0.028078,0.033220,0.039256,0.046332,0.054613,0.064291,0.075590,0.088760
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.014682,0.017393,0.020599,0.024371,0.028800,0.033990,0.040066,0.047166,0.055455,0.065118
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010809,0.012805,0.015165,0.017942,0.021203,0.025024,0.029497,0.034724,0.040827,0.047940
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007917,0.009379,0.011107,0.013141,0.015529,0.018328,0.021604,0.025433,0.029902,0.035112
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005725,0.006783,0.008033,0.009504,0.011231,0.013255,0.015624,0.018393,0.021625,0.025393
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.004106,0.004864,0.005760,0.006815,0.008054,0.009505,0.011204,0.013190,0.015508,0.018210
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002948,0.003492,0.004136,0.004894,0.005783,0.006825,0.008045,0.009471,0.011135,0.013075
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002145,0.002541,0.003010,0.003561,0.004208,0.004966,0.005854,0.006891,0.008102,0.009514
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001598,0.001893,0.002242,0.002653,0.003135,0.003700,0.004362,0.005135,0.006037,0.007089
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001215,0.001440,0.001705,0.002017,0.002384,0.002814,0.003316,0.003904,0.004590,0.005390
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000935,0.001107,0.001312,0.001552,0.001834,0.002164,0.002551,0.003003,0.003531,0.004146
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000720,0.000853,0.001010,0.001195,0.001413,0.001667,0.001965,0.002314,0.002720,0.003194
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000550,0.000652,0.000772,0.000914,0.001080,0.001274,0.001502,0.001768,0.002079,0.002442
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000418,0.000495,0.000587,0.000694,0.000820,0.000968,0.001141,0.001343,0.001579,0.001854
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000317,0.000376,0.000445,0.000526,0.000622,0.000734,0.000865,0.001019,0.001198,0.001407
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000286,0.000339,0.000401,0.000474,0.000560,0.000660,0.000776,0.000913,0.001072
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000261,0.000309,0.000365,0.000431,0.000508,0.000598,0.000703,0.000825
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000240,0.000284,0.000335,0.000395,0.000465,0.000547,0.000642
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000222,0.000262,0.000309,0.000364,0.000428,0.000503
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000206,0.000243,0.000286,0.000337,0.000395
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000191,0.000225,0.000265,0.000311
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000177,0.000208,0.000244
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000162,0.000190
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000147

In [91]:
# Annual
np.log(rate_tree + 1)

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,7.50,7.75,8.00,8.25,8.50,8.75,9.00,9.25,9.50,9.75
state,,,,,,,,,,,,,,,,,,,,,
0,0.050573,0.053282,0.055381,0.057420,0.057448,0.061826,0.067996,0.077251,0.084142,0.099326,...,1.615018,1.752974,1.894794,2.039419,2.186175,2.334582,2.484227,2.634757,2.785869,2.937294
1,NaN,0.045313,0.047105,0.048847,0.048871,0.052612,0.057889,0.065814,0.071720,0.084756,...,1.484283,1.617761,1.755560,1.896619,2.040237,2.185898,2.333150,2.481604,2.630921,2.780797
2,NaN,NaN,0.038327,0.039751,0.039770,0.042830,0.047148,0.053642,0.058487,0.069200,...,1.325419,1.452571,1.584633,1.720556,1.859616,2.001259,2.144990,2.290371,2.437017,2.584580
3,NaN,NaN,NaN,0.030961,0.030976,0.033371,0.036753,0.041845,0.045649,0.054073,...,1.145228,1.263813,1.387995,1.516770,1.649412,1.785340,1.924016,2.064951,2.207705,2.351875
4,NaN,NaN,NaN,NaN,0.021686,0.023370,0.025752,0.029341,0.032027,0.037985,...,0.913634,1.018528,1.129841,1.246709,1.368467,1.494539,1.624368,1.757419,1.893191,2.031212
5,NaN,NaN,NaN,NaN,NaN,0.016026,0.017666,0.020140,0.021992,0.026108,...,0.703249,0.792407,0.888496,0.990890,1.099074,1.212567,1.330857,1.453425,1.579752,1.709323
6,NaN,NaN,NaN,NaN,NaN,NaN,0.012007,0.013694,0.014958,0.017769,...,0.525633,0.598407,0.678136,0.764484,0.857165,0.955878,1.060250,1.169860,1.284245,1.402916
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009323,0.010186,0.012105,...,0.385112,0.442454,0.506269,0.576499,0.653104,0.736006,0.825037,0.919951,1.020427,1.126079
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007003,0.008325,...,0.279502,0.323543,0.373232,0.428711,0.490140,0.557643,0.631263,0.710958,0.796602,0.887978
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.005794,...,0.202235,0.235484,0.273424,0.316304,0.364402,0.417982,0.477250,0.542345,0.613330,0.690181
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.146169,0.170969,0.199521,0.232110,0.269059,0.310697,0.357326,0.409206,0.466545,0.529484
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.105260,0.123541,0.144733,0.169111,0.196990,0.228708,0.264596,0.304973,0.350130,0.400320
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.075287,0.088590,0.104094,0.122037,0.142698,0.166383,0.193411,0.224102,0.258775,0.297733
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.053556,0.063139,0.074353,0.087391,0.102483,0.119886,0.139878,0.162749,0.188801,0.218338
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.038065,0.044938,0.053005,0.062415,0.073350,0.086016,0.100640,0.117466,0.136755,0.158781
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027255,0.032208,0.038032,0.044843,0.052780,0.062003,0.072691,0.085041,0.099266,0.115597
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.019815,0.023432,0.027691,0.032680,0.038505,0.045290,0.053173,0.062309,0.072869,0.085040
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.014575,0.017244,0.020389,0.024079,0.028393,0.033426,0.039284,0.046088,0.053972,0.063085
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010751,0.012724,0.015051,0.017783,0.020981,0.024716,0.029070,0.034135,0.040015,0.046827
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007886,0.009335,0.011046,0.013056,0.015410,0.018162,0.021374,0.025115,0.029464,0.034510
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005709,0.006760,0.008000,0.009459,0.011168,0.013168,0.015503,0.018226,0.021394,0.025076
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.004097,0.004852,0.005744,0.006792,0.008022,0.009461,0.011142,0.013104,0.015389,0.018046
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002944,0.003486,0.004128,0.004882,0.005766,0.006802,0.008013,0.009426,0.011073,0.012990
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002143,0.002538,0.003005,0.003554,0.004199,0.004954,0.005837,0.006867,0.008069,0.009469
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001597,0.001892,0.002240,0.002650,0.003130,0.003694,0.004352,0.005122,0.006019,0.007064
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001215,0.001439,0.001704,0.002015,0.002381,0.002810,0.003311,0.003897,0.004580,0.005376
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000934,0.001107,0.001311,0.001551,0.001832,0.002162,0.002548,0.002999,0.003525,0.004138
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000720,0.000853,0.001010,0.001195,0.001412,0.001666,0.001963,0.002311,0.002717,0.003189
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000550,0.000652,0.000772,0.000913,0.001079,0.001274,0.001501,0.001767,0.002077,0.002439
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000418,0.000495,0.000586,0.000694,0.000820,0.000967,0.001140,0.001342,0.001578,0.001853
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000317,0.000376,0.000445,0.000526,0.000622,0.000734,0.000865,0.001018,0.001197,0.001406
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000286,0.000339,0.000401,0.000474,0.000559,0.000659,0.000776,0.000913,0.001071
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000261,0.000309,0.000365,0.000431,0.000508,0.000598,0.000703,0.000825
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000240,0.000284,0.000335,0.000395,0.000465,0.000546,0.000642
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000222,0.000262,0.000309,0.000364,0.000428,0.000502
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000206,0.000243,0.000286,0.000337,0.000395
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000191,0.000225,0.000265,0.000311
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000177,0.000208,0.000244
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000162,0.000190
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000147

## 2.2

Use a tree to price a vanilla fixed-rate, 5-year bond with coupon rate equal to the forward swap rate calculated in problem `1.1.`

In [92]:
fwd_swap_rate

0.03672212061985555

In [119]:
FACE = 100
T = 5
compound = 4
cpn = fwd_swap_rate
cpn_freq = 2

In [120]:
payoff = lambda r: payoff_bond(r, 1/compound, facevalue = FACE * (1 + cpn / cpn_freq))
cash_flow_tree = construct_bond_cftree(T, compound, cpn, cpn_freq=cpn_freq)
bond_tree = bintree_pricing(payoff=payoff, ratetree=rate_tree.iloc[:int(T * compound),:int(T * compound)], cftree=cash_flow_tree)
bond_tree.round(4)

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75
state,,,,,,,,,,,,,,,,,,,,
0,98.702,97.4898,94.3490,92.8990,89.4852,87.6976,84.0015,82.0899,78.4115,76.5693,73.1477,71.8807,69.2857,68.9351,67.4588,68.8420,69.7294,73.7711,78.1060,87.4781
1,NaN,102.4909,99.6444,98.5044,95.4061,93.9382,90.5405,88.8944,85.4259,83.7332,80.3693,79.0606,76.3051,75.6872,73.8176,74.6827,74.9137,78.1841,81.5362,89.5357
2,NaN,NaN,104.0544,103.2020,100.4115,99.2783,96.2182,94.9047,91.7402,90.3241,87.1694,85.9912,83.2546,82.5488,80.4420,80.8921,80.4924,82.9397,85.2073,91.7519
3,NaN,NaN,NaN,106.9495,104.4234,103.5920,100.8504,99.8682,97.0301,95.9401,93.0716,92.1277,89.5447,88.9156,86.7535,86.9657,86.0906,87.8088,88.9719,93.9256
4,NaN,NaN,NaN,NaN,107.4915,106.9040,104.4265,103.7292,101.1794,100.3992,97.8203,97.1377,94.7572,94.2930,92.2064,92.3455,91.1900,92.4164,92.7247,96.2568
5,NaN,NaN,NaN,NaN,NaN,109.2604,106.9768,106.4904,104.1568,103.6128,101.2589,100.7837,98.5698,98.2484,96.2406,96.3444,94.9928,95.8595,95.5284,97.9903
6,NaN,NaN,NaN,NaN,NaN,NaN,108.7562,108.4186,106.2378,105.8620,103.6694,103.3441,101.2520,101.0372,99.0918,99.1758,97.6885,98.3012,97.5147,99.2134
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.7516,107.6759,107.4156,105.3335,105.1105,103.1010,102.9582,101.0547,101.1232,99.5400,99.9756,98.8736,100.0470
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.6697,108.4881,106.4807,106.3260,104.3706,104.2741,102.3954,102.4492,100.7963,101.1071,99.7878,100.6046
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.2335,107.2773,107.1690,105.2495,105.1826,103.3181,103.3581,101.6536,101.8753,100.4050,100.9785
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.8351,107.7592,105.8646,105.8177,103.9618,103.9904,102.2478,102.4051,100.8281,101.2332
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.1747,106.2980,106.2654,104.4157,104.4362,102.6662,102.7774,101.1243,101.4105
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.6031,106.5811,104.7363,104.7515,102.9625,103.0412,101.3343,101.5361
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.8021,104.9610,104.9728,103.1710,103.2272,101.4826,101.6249
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.1171,105.1266,103.3159,103.3567,101.5862,101.6871
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.2328,103.4157,103.4459,101.6574,101.7300
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.4851,103.5074,101.7063,101.7592
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.5511,101.7408,101.7797
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.7660,101.7946
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.8057

## 2.3

We will calculate the binomial tree for the 5-year swap, but here we do so by valuing the swap as...

$$\text{payer swap} = \text{floating rate note} - \text{fixed-rate bond}$$

Recall for the Floating-Rate Note:
* It has par value of 100 at each reset date.
* Every node is a reset date given the assumptions of the swap timing.

Report the tree for the 5-year swap.

In [122]:
payer_swap_tree = 100 - bond_tree
payer_swap_tree

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75
state,,,,,,,,,,,,,,,,,,,,
0,1.298017,2.510201,5.651032,7.100999,10.514763,12.302403,15.998539,17.910126,21.588536,23.430670,26.852265,28.119317,30.714301,31.064925,32.541225,31.157977,30.270626,26.228940,21.894036,12.521886
1,NaN,-2.490852,0.355579,1.495591,4.593869,6.061836,9.459525,11.105595,14.574140,16.266768,19.630740,20.939393,23.694948,24.312833,26.182436,25.317292,25.086261,21.815863,18.463795,10.464324
2,NaN,NaN,-4.054385,-3.202016,-0.411521,0.721689,3.781849,5.095263,8.259762,9.675920,12.830607,14.008841,16.745375,17.451150,19.557953,19.107870,19.507627,17.060254,14.792729,8.248142
3,NaN,NaN,NaN,-6.949468,-4.423434,-3.592023,-0.850388,0.131774,2.969946,4.059876,6.928394,7.872315,10.455301,11.084371,13.246466,13.034271,13.909433,12.191186,11.028090,6.074383
4,NaN,NaN,NaN,NaN,-7.491460,-6.903965,-4.426549,-3.729171,-1.179424,-0.399229,2.179681,2.862305,5.242770,5.707034,7.793617,7.654452,8.810023,7.583572,7.275270,3.743180
5,NaN,NaN,NaN,NaN,NaN,-9.260424,-6.976793,-6.490424,-4.156797,-3.612797,-1.258875,-0.783720,1.430159,1.751623,3.759422,3.655649,5.007195,4.140491,4.471613,2.009703
6,NaN,NaN,NaN,NaN,NaN,NaN,-8.756178,-8.418601,-6.237811,-5.862027,-3.669406,-3.344127,-1.252011,-1.037154,0.908178,0.824187,2.311537,1.698811,2.485335,0.786582
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.751617,-7.675925,-7.415643,-5.333510,-5.110507,-3.100953,-2.958217,-1.054689,-1.123230,0.459958,0.024436,1.126376,-0.046985
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.669714,-8.488107,-6.480672,-6.326032,-4.370632,-4.274099,-2.395438,-2.449179,-0.796274,-1.107060,0.212160,-0.604586
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.233505,-7.277291,-7.168982,-5.249533,-5.182624,-3.318132,-3.358142,-1.653603,-1.875261,-0.404963,-0.978545
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.835101,-7.759162,-5.864595,-5.817651,-3.961784,-3.990435,-2.247797,-2.405109,-0.828093,-1.233155
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.174659,-6.298009,-6.265428,-4.415738,-4.436189,-2.666201,-2.777362,-1.124327,-1.410504
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.603114,-6.581128,-4.736336,-4.751489,-2.962525,-3.041200,-1.334299,-1.536106
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.802067,-4.960987,-4.972816,-3.170960,-3.227194,-1.482605,-1.624936
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.117056,-5.126553,-3.315854,-3.356729,-1.586165,-1.687137
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.232834,-3.415729,-3.445858,-1.657407,-1.729999
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.485135,-3.507390,-1.706282,-1.759240
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.551147,-1.740774,-1.779709
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.765992,-1.794583
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.805692

## 2.4

Report the binomial tree for the one-year swaption on a 4-year swap with **european** exercise.
* At expiration, the swap tree from 2.3 will have 4 years left, as desired for pricing the 1y-4y swaption.

In [124]:
payoff_swaption = lambda p: np.maximum(p, 0)

T = 1
tsteps = int(T * compound) + 1

swaption_tree = bintree_pricing(payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], undertree=payer_swap_tree.iloc[:tsteps,:tsteps])
swaption_tree.round(3)

time    0.00   0.25   0.50   0.75    1.00
state
0      1.711  2.914  4.787  7.444  10.515
1        NaN  0.554  1.121  2.268   4.594
2        NaN    NaN  0.000  0.000   0.000
3        NaN    NaN    NaN  0.000   0.000
4        NaN    NaN    NaN    NaN   0.000

## 2.5

Compare the pricing of the 1y4y swaption from Black's formula in Section 1 vs the binomial tree.

## 2.6

Reprice the swaption using the BDT tree, but this time assuming it is **american**-style exercise.

In [126]:
bintree_pricing(payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], undertree=payer_swap_tree.iloc[:tsteps,:tsteps], style='american').round(3)

time    0.00   0.25   0.50   0.75    1.00
state
0      1.922  3.340  5.651  7.444  10.515
1        NaN  0.554  1.121  2.268   4.594
2        NaN    NaN  0.000  0.000   0.000
3        NaN    NaN    NaN  0.000   0.000
4        NaN    NaN    NaN    NaN   0.000

***

# 3. Midcurve Swaptions

## 3.1 

Use the BDT tree from section 2 to price a **european** midcurve swaption 1y$\rightarrow$2y$\rightarrow$2y.

## 3.2

Price the **american** midcurve swaption 1y$\rightarrow$2y$\rightarrow$2y.

***