# Homework 3

## FINM 37500: Fixed Income Derivatives

### Mark Hendricks

#### Winter 2024

In [28]:
import numpy as np
import pandas as pd

import platform
if platform.system() == "Windows":
    BASE_DIR = r'C:\Users\Alex\Desktop\Academic\UChicago\FINM 37500\finm-fiderivs-2024'
else:
    BASE_DIR = r'/Users/alexhuang/Documents/Academic/FINM 37500/finm-fiderivs-2024'


import sys, os
sys.path.append(BASE_DIR)

from cmds.binomial import *
from cmds.ratecurves import *
from cmds.volskew import *
from cmds.ficcvol import *
from cmds.fi_binomial_model import FIBinomialModel

# 1. Modeling the Volatility Smile

## Swaption Vol Data

The file `data/swaption_vol_data_2024-02-20.xlsx` has market data on the implied volatility skews for swaptions. Note that it has several columns:
* `expry`: expiration of the swaption
* `tenor`: tenor of the underlying swap
* `model`: the model by which the volatility is quoted. (All are Black.)
* `-200`, `-100`, etc.: The strike listed as difference from ATM strike (bps). Note that ATM is considered to be the **forward swapa rate** which you can calculate.

Your data: ywill use a single row of this data for the `1x4` swaption.
* date: `2024-02-20`
* expiration: 1yr
* tenor: 4yrs

## Rate Data

The file `data/cap_quotes_2024-02-20.xlsx` gives 
* SOFR swap rates, 
* their associated discount factors
* their associated forward interest rates.

You will not need the cap data (flat or forward vols) for this problem.
* This cap data would be helpful in calibrating a binomial tree, but this problem focuses on Black's formula and SABR.

## The Swaption

Consider the following swaption with the following features:
* underlying is a fixed-for-floating (SOFR) swap
* the underlying swap has **quarterly** payment frequency
* this is a **payer** swaption, which gives the holder the option to **pay** the fixed swap rate and receive SOFR.

In [29]:

class FIBinomialModel():
    def __init__(self, face_value: float=100) -> None:
        self.__face_value: float = face_value
        self.__rate_tree: pd.DataFrame = None
        self.__bond_tree: pd.DataFrame = None
        self.__swap_tree: pd.DataFrame = None
        self.__cashflow_tree: pd.DataFrame = None
        self.__valuation_tree: pd.DataFrame = None

        self.__dt: float = None
        self.__T: float = None
    
    @property
    def rate_tree(self) -> pd.DataFrame:
        return self.__rate_tree

    @rate_tree.setter
    def rate_tree(self, new_rate_tree: pd.DataFrame) -> None:
        if isinstance(new_rate_tree, pd.DataFrame):
            self.__rate_tree = new_rate_tree
        else:
            raise TypeError("Can only set rate_tree attribute to pd.DataFrame type only.")
        
    @property
    def bond_tree(self) -> pd.DataFrame:
        return self.__bond_tree
    
    @bond_tree.setter
    def bond_tree(self, new_bond_tree: pd.DataFrame) -> None:
        if isinstance(new_bond_tree, pd.DataFrame):
            self.__bond_tree = new_bond_tree
        else:
            raise TypeError("Can only set bond_tree attribute to pd.DataFrame type only.")
    
    @property
    def cashflow_tree(self) -> pd.DataFrame:
        return self.__cashflow_tree

    @property
    def p_star(self):
        if (self.__rate_tree is None or self.__bond_tree is None or self.__dt is None or self.__T is None):
            raise Exception("Compute rate tree and bond tree first.")
        
        A = np.exp(self.__rate_tree.iloc[0,0] * self.__dt)

        pstar = (A * self.__bond_tree.loc[0,0] - self.__bond_tree.loc[1,self.__dt])/(self.__bond_tree.loc[0,self.__dt] - self.__bond_tree.loc[1,self.__dt])
        return pstar

    def initialize_empty_rate_tree(self, dt, T) -> None:
        self.__dt = dt
        self.__T = T
        timegrid = pd.Series((np.arange(0,round(T/dt)+1)*dt).round(6),name='time',index=pd.Index(range(round(T/dt)+1),name='state'))
        tree = pd.DataFrame(dtype=float,columns=timegrid,index=timegrid.index)
        self.__rate_tree = tree

    def compute_bond_tree(self, t0_price: float=None) -> None:
        maturity = (self.__rate_tree.columns[-1] - self.__rate_tree.columns[-2]) + self.__rate_tree.columns[-1]
        bond_tree_cols = list(self.__rate_tree.columns.copy().values)
        bond_tree_cols.append(maturity)
        print(bond_tree_cols)
        bond_tree = pd.DataFrame(dtype=float, index=pd.RangeIndex(0, len(bond_tree_cols)), columns=bond_tree_cols)
        bond_tree.index.name = self.__rate_tree.index.name
        bond_tree.columns.name = self.__rate_tree.columns.name
        
        forward_time: float = bond_tree.columns[-1]
        for time in reversed(bond_tree.columns):
            if time == maturity:
                bond_tree[time] = float(self.__face_value)
                forward_time = time
                continue
            bond_tree[time] = np.exp(-self.__rate_tree[time]*(forward_time-time)) * ((bond_tree[forward_time] + bond_tree[forward_time].shift(-1)) / 2)
            forward_time = time
        if t0_price:
            bond_tree.iloc[0,0] = t0_price
        self.__bond_tree = bond_tree

    def compute_swap_tree(self, payoff_func) -> pd.DataFrame:
        Z = np.exp(-self.__rate_tree.iloc[0,0] * self.__dt)
        swap_tree = pd.DataFrame(index=self.__rate_tree.index, columns=self.__rate_tree.columns, dtype=float)
        swap_tree[self.__dt] = payoff_func(self.__rate_tree[self.__dt])
        swap_tree.loc[0,0] = Z * np.array([self.p_star,1-self.p_star])@ swap_tree[self.__dt].values
        self.__swap_tree = swap_tree
        return swap_tree

    def construct_bond_cftree(self, T, compound, cpn, cpn_freq=2, face=100) -> pd.DataFrame:
        step = int(compound/cpn_freq)

        self.initialize_empty_rate_tree(1/compound, T)
        cftree = self.__rate_tree.copy()
        cftree.iloc[:,:] = 0
        cftree.iloc[:, -1:0:-step] = (cpn/cpn_freq) * face
        
        # final cashflow is accounted for in payoff function
        # drop final period cashflow from cashflow tree
        cftree = cftree.iloc[:-1,:-1]
        
        self.__cashflow_tree = cftree
        return cftree

    def bintree_pricing(self, payoff=None, ratetree=None, undertree=None,cftree=None, dt=None, pstars=None, timing=None, cfdelay=False,style='european',Tamerican=0):
    
        if payoff is None:
            payoff = lambda r: 0
        
        if undertree is None:
            undertree = ratetree
            
        if cftree is None:
            cftree = pd.DataFrame(0, index=undertree.index, columns=undertree.columns)
            
        if pstars is None:
            pstars = pd.Series(.5, index=undertree.columns)

        if dt is None:
            dt = undertree.columns.to_series().diff().mean()
            dt = undertree.columns[1]-undertree.columns[0]
        
        if timing == 'deferred':
            cfdelay = True
        
        if dt<.25 and cfdelay:
            display('Warning: cfdelay setting only delays by dt.')
            
        valuetree = pd.DataFrame(dtype=float, index=undertree.index, columns=undertree.columns)

        for steps_back, t in enumerate(valuetree.columns[-1::-1]):
            if steps_back==0:                           
                valuetree[t] = payoff(undertree[t])
                if cfdelay:
                    valuetree[t] *= np.exp(-ratetree[t]*dt)
            else:
                for state in valuetree[t].index[:-1]:
                    val_avg = pstars[t] * valuetree.iloc[state,-steps_back] + (1-pstars[t]) * valuetree.iloc[state+1,-steps_back]
                    
                    if cfdelay:
                        cf = cftree.loc[state,t]
                    else:                    
                        cf = cftree.iloc[state,-steps_back]
                    
                    valuetree.loc[state,t] = np.exp(-ratetree.loc[state,t]*dt) * (val_avg + cf)

                if style=='american':
                    if t>= Tamerican:
                        valuetree.loc[:,t] = np.maximum(valuetree.loc[:,t],payoff(undertree.loc[:,t]))
            
        return valuetree


    def display_rate_tree(self) -> pd.DataFrame:
        return self.__rate_tree.style.format('{:.4%}',na_rep='').format_index('{:.2f}',axis=1)
    
    def display_bond_tree(self) -> pd.DataFrame:
        return self.__bond_tree.style.format('$ {:.4}',na_rep='').format_index('{:.2f}',axis=1)

In [30]:
cap_curves_df = pd.read_excel(r'../data/cap_curves_2024-02-20.xlsx', index_col=0)
cap_curves_df.head(5)

       swap rates  spot rates  discounts  forwards  flat vols  fwd vols
tenor
0.25     0.052211    0.052211   0.987115       NaN        NaN       NaN
0.50     0.051540    0.051535   0.974722  0.050860   0.166025  0.166025
0.75     0.050506    0.050490   0.963069  0.048400   0.191290  0.210648
1.00     0.049284    0.049250   0.952230  0.045531   0.216554  0.254312
1.25     0.047631    0.047565   0.942608  0.040831   0.260043  0.361247

In [31]:
cap_df = pd.read_excel(r'../data/cap_quotes_2024-02-20.xlsx')
cap_df.head(5)

,date,USCNSQ1 SMKO Curncy,USCNSQ2 SMKO Curncy,USCNSQ3 SMKO Curncy,USCNSQ4 SMKO Curncy,USCNSQ5 SMKO Curncy,USCNSQ6 SMKO Curncy,USCNSQ7 SMKO Curncy,USCNSQ8 SMKO Curncy,USCNSQ9 SMKO Curncy,USCNSQ10 SMKO Curncy
0,maturity,1.002053,2.001369,3.000684,4.0,5.002053,6.001369,7.000684,8.0,9.002053,10.001369
1,2022-03-17 00:00:00,127.300000,108.500000,109.900000,108.5,107.300000,104.300000,101.000000,97.7,95.200000,93.200000
2,2022-03-18 00:00:00,96.200000,104.900000,108.000000,108.5,108.000000,105.000000,101.800000,98.3,95.400000,93.400000
3,2022-03-21 00:00:00,96.200000,105.000000,108.100000,108.5,107.900000,105.000000,101.700000,98.2,95.400000,93.400000
4,2022-03-22 00:00:00,75.100000,108.300000,115.200000,115.3,113.600000,109.900000,106.300000,102.8,99.900000,97.500000

In [32]:
swap_vol_df = pd.read_excel(r'../data/swaption_vol_data.xlsx')
swap_vol_df

,reference,instrument,model,date,expiration,tenor,-200,-100,-50,-25,0,25,50,100,200
0,SOFR,swaption,black,2024-02-20,1,4,54.54,40.37,35.94,34.23,32.83,31.71,30.86,29.83,29.54

## 1.1
Calculate the (relevant) forward swap rate. That is, the one-year forward 4-year swap rate.

In [33]:
swaption_exp = swap_vol_df.loc[0, 'expiration']
swaption_end = swaption_exp + swap_vol_df.loc[0, 'tenor'] 
fwd_swap_rate = calc_fwdswaprate(cap_curves_df['discounts'], swaption_exp, swaption_end, freqswap=4)
fwd_swap_rate

0.03672212061985555


## 1.2
Price the swaptions at the quoted implied volatilites and corresponding strikes, all using the just-calculated forward swap rate as the underlying.

In [34]:
swaption_implied_df = pd.DataFrame(index=swap_vol_df.columns[-9:], columns=['IV', 'strikes', 'prices'])
swaption_implied_df['IV'] = swap_vol_df[swap_vol_df.columns[-9:]].transpose() / 100
swaption_implied_df['strikes'] = (fwd_swap_rate + swap_vol_df.columns[-9:].astype(int)/10000)
discount = cap_curves_df['discounts'].loc[1.25:5].sum()/4
# print(swaption_exp, swaption_implied_df['IV'].values, swaption_implied_df['strikes'].values, fwd_swap_rate, discount, sep='\n')
swaption_implied_df['prices'] = blacks_formula(swaption_exp, swaption_implied_df['IV'].values, swaption_implied_df['strikes'].values, fwd_swap_rate, discount)

display(swaption_implied_df)

          IV   strikes    prices
-200  0.5454  0.016722  0.072031
-100  0.4037  0.026722  0.040653
-50   0.3594  0.031722  0.027398
-25   0.3423  0.034222  0.021749
0     0.3283  0.036722  0.016874
25    0.3171  0.039222  0.012812
50    0.3086  0.041722  0.009556
100   0.2983  0.046722  0.005133
200   0.2954  0.056722  0.001473

## 1.3
To consider how the expiration and tenor matter, calculate the prices of a few other swaptions for comparison. 
* No need to get other implied vol quotes--just use the ATM implied vol you have for the 1x2 above. (Here we are just interested in how Black's formula changes with changes in tenor and expiration.
* No need to calculate for all the strikes--just do the ATM strike.

Alternate swaptions
* The 3mo x 4yr swaption
* The 2yr x 4yr swaption
* the 1yr x 2yr swaption

Report these values and compare them to the price of the `1y x 4y` swaption.

In [35]:
alt_swaps_df = pd.DataFrame(columns=['exp', 'tenor', 'strike', 'prices'], index=pd.RangeIndex(0,3))
alt_swaps_df['exp'] = [0.25, 2, 1]
alt_swaps_df['tenor'] = [4, 4, 2]
alt_swaps_df['strike'] = 'ATM'

def price_swaps(exp, tenor, atm_iv, atm_strike, freq=4):
    print( exp, exp + tenor, sep='\n')
    print()
    fwd_swap_rate = calc_fwdswaprate(cap_curves_df['discounts'], exp, exp + tenor, freqswap=freq)
    discount = cap_curves_df['discounts'].loc[exp+(1/freq):exp+tenor].sum() / freq
    # print(cap_curves_df['discounts'].loc[exp+(1/freq):exp+tenor])
    # print(discount)
    print(exp, atm_iv, atm_strike, fwd_swap_rate, discount, sep='\n')
    price = blacks_formula(exp, atm_iv, atm_strike, fwd_swap_rate, discount) * 100
    return price

# alt_swaps_df['prices'] = 
price_swaps(alt_swaps_df['exp'][0], alt_swaps_df['tenor'][0], swaption_implied_df.loc[0,'IV'], swaption_implied_df.loc[0, 'strikes'])

0.25
4.25

0.25
0.3283
0.03672212061985555
0.03910405311265784
3.623807757672832

1.3951918634840146

***

# 2. Pricing w/ BDT

Use the data in `cap_curves_2024-02-20.xlsx`.

## 2.1

Calibrate the BDT Tree
* theta to fit the term structure discounts.
* sigma to fit the fwd vols from the cap data.

Report the rate tree through $T=5$. Report trees for rates compounded
* continuously
* annually

In [36]:
theta, rate_tree = estimate_theta(cap_curves_df['fwd vols'].bfill(), cap_curves_df['discounts']) 
simga = cap_curves_df['fwd vols']

In [37]:
theta.to_frame().transpose()

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,...,7.50,7.75,8.00,8.25,8.50,8.75,9.00,9.25,9.50,9.75
theta,NaN,-0.117846,-0.262526,-0.359865,-0.720504,-0.459257,-0.384915,-0.244081,-0.396789,-0.033089,...,0.125541,0.134603,0.153908,0.169295,0.178789,0.182346,0.179249,0.168698,0.149782,0.121431

In [64]:
# Exp
format_bintree(rate_tree)

In [63]:
# Annual
format_bintree(np.exp(rate_tree) - 1)

## 2.2

Use a tree to price a vanilla fixed-rate, 5-year bond with coupon rate equal to the forward swap rate calculated in problem `1.1.`

In [40]:
fwd_swap_rate

0.03672212061985555

In [53]:
FACE = 100
T = 5
compound = 4
cpn_freq = 2
refratetree = compound * (np.exp(rate_tree / compound)-1)

In [57]:
payoff = lambda rate: payoff_bond(rate, 1/compound, facevalue = FACE * (1 + fwd_swap_rate / cpn_freq))
cash_flow_tree = construct_bond_cftree(T, compound, fwd_swap_rate, cpn_freq=cpn_freq)
bond_tree = bintree_pricing(payoff=payoff, ratetree=rate_tree.iloc[:int(T * compound),:int(T * compound)],undertree=refratetree.iloc[:int(T * compound),:int(T * compound)], cftree=cash_flow_tree)
format_bintree(bond_tree)

In [58]:
format_bintree(bond_tree.iloc[[0],[0]])

## 2.3

We will calculate the binomial tree for the 5-year swap, but here we do so by valuing the swap as...

$$\text{payer swap} = \text{floating rate note} - \text{fixed-rate bond}$$

Recall for the Floating-Rate Note:
* It has par value of 100 at each reset date.
* Every node is a reset date given the assumptions of the swap timing.

Report the tree for the 5-year swap.

In [60]:
payer_swap_tree = 100 - bond_tree
format_bintree(payer_swap_tree)

## 2.4

Report the binomial tree for the one-year swaption on a 4-year swap with **european** exercise.
* At expiration, the swap tree from 2.3 will have 4 years left, as desired for pricing the 1y-4y swaption.

In [59]:
payoff_swaption = lambda p: np.maximum(p, 0)

T = 1
tsteps = int(T * compound) + 1

swaption_tree = bintree_pricing(payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], undertree=payer_swap_tree.iloc[:tsteps,:tsteps])
format_bintree(swaption_tree)

## 2.5

Compare the pricing of the 1y4y swaption from Black's formula in Section 1 vs the binomial tree.

1.72 to 1.69 in section 1 which is pretty close.

## 2.6

Reprice the swaption using the BDT tree, but this time assuming it is **american**-style exercise.

In [61]:
american_style = bintree_pricing(payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], undertree=payer_swap_tree.iloc[:tsteps,:tsteps], style='american')
format_bintree(american_style)

***

# 3. Midcurve Swaptions

## 3.1 

Use the BDT tree from section 2 to price a **european** midcurve swaption 1y $\rightarrow$ 2y $\rightarrow$ 2y.

In [73]:
FACE = 100
T = 5
compound = 4
cpn_freq = 4

In [74]:
payoff = lambda r: payoff_bond(r, 1/compound, facevalue = FACE * (1 + fwd_swap_rate / cpn_freq))
cash_flow_tree = construct_bond_cftree(T, compound, fwd_swap_rate, cpn_freq=cpn_freq)
cash_flow_tree.iloc[:, :12] = 0
cash_flow_tree

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75
state,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053,0.918053

In [75]:
delayed_swap_tree = bintree_pricing(
    payoff=payoff, 
    ratetree=rate_tree.iloc[:int(T * compound),:int(T * compound)], 
    undertree=refratetree.iloc[:int(T * compound),:int(T * compound)], 
    cftree=cash_flow_tree
    )
delayed_swap_tree.iloc[:, 12:] = 100 - delayed_swap_tree.iloc[:, 12:]
delayed_swap_tree.iloc[:, :12] = 0
delayed_swap_tree

time,0.00,0.25,0.50,0.75,1.00,1.25,1.50,1.75,2.00,2.25,2.50,2.75,3.00,3.25,3.50,3.75,4.00,4.25,4.50,4.75
state,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.726503,32.022719,32.668818,32.260023,30.604424,27.589591,22.587467,14.357947
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.667362,25.216613,26.232674,26.322816,25.290638,23.018736,18.946467,12.035914
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.700109,18.326271,19.557472,20.044332,19.608968,18.133058,15.095819,9.585830
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.408960,11.952130,13.222253,13.932911,13.942975,13.169462,11.189356,7.233271
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.203412,6.580566,7.764096,8.541872,8.810207,8.511621,7.343087,4.765113
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.399405,2.634223,3.732634,4.543925,4.995369,5.048929,4.495009,2.965946
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.275010,-0.145824,0.886588,1.717595,2.297597,2.602309,2.490055,1.714744
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.117792,-2.059778,-1.071156,-0.224173,0.447573,0.928750,1.124328,0.870604
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.382843,-3.370279,-2.407675,-1.545303,-0.806215,-0.200288,0.208282,0.309774
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5.258339,-4.274842,-3.327101,-2.450507,-1.661221,-0.965945,-0.408838,-0.064635
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5.870916,-4.906979,-3.968294,-3.079963,-2.253487,-1.493628,-0.831385,-0.318765
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.302529,-5.352657,-4.420425,-3.523606,-2.670374,-1.864155,-1.126928,-0.495406
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.606344,-5.666845,-4.739693,-3.837355,-2.965547,-2.126667,-1.336270,-0.620319
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,-5.886710,-4.963392,-4.057565,-3.173135,-2.311674,-1.484064,-0.708569
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,-5.118790,-4.210512,-3.317423,-2.440497,-1.587233,-0.770319
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-4.316240,-3.416871,-2.529124,-1.658190,-0.812848
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-3.485975,-2.590303,-1.706860,-0.841851
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,-2.633807,-1.741203,-0.862149
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.766309,-0.876896
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.887909

In [79]:
payoff = lambda p: p

delayed_swap_tree = bintree_pricing(
    payoff=payoff, ratetree=rate_tree.iloc[:13,:13], 
    undertree=delayed_swap_tree.iloc[:13,:13]
)
format_bintree(delayed_swap_tree)

In [77]:
payoff_swaption = lambda p: np.maximum(p, 0)

T = 1
tsteps = int(T * compound) + 1

midcurve_swaption_tree = bintree_pricing(
    payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], 
    undertree=delayed_swap_tree.iloc[:tsteps,:tsteps]
    )
format_bintree(midcurve_swaption_tree)

time    0.00   0.25   0.50   0.75   1.00
state
0      0.847  1.452  2.413  3.818  5.567
1        NaN  0.263  0.532  1.077  2.181
2        NaN    NaN  0.000  0.000  0.000
3        NaN    NaN    NaN  0.000  0.000
4        NaN    NaN    NaN    NaN  0.000

## 3.2

Price the **american** midcurve swaption 1y$\rightarrow$2y$\rightarrow$2y.

***

In [78]:
american_style_32 = bintree_pricing(payoff_swaption, rate_tree.iloc[:tsteps,:tsteps], undertree=delayed_swap_tree.iloc[:tsteps,:tsteps], style='american')
format_bintree(american_style_32)